.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.detail_student_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.intro_detail_student {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
}
.nom_prenom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.detail_link_cv{
    color: rgb(212, 97, 97);
}

.detail_link_cv:hover{
    color: rgb(182, 23, 23);
}